// Import variables and mixins
@use './utils/variable';

@use './components/common';
@use './components/ui';
@use './components/signIn';

@use './components/services/services';
@use './components/services/hero-section-services';
@use './components/services/service-section';
@use './components/services/service-listings';
@use './components/services/service-details';


// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}
