// ================================
// Service Details
// ================================
@use "../../utils/variable.scss" as *;



.service-details {
  width: 100%;
  padding: 1rem;

  @include responsive(md) {
    padding: 1.25rem;
  }

  @include responsive(lg) {
    width: 50%;
    padding: 0 1.25rem;
  }

  &__container {
    background-color: $secondary-light;
    border-radius: $radius-xl;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 400;
    color: $primary-light;
    margin-bottom: 1rem;
    font-family: 'Avenir Next', sans-serif;
  }

  &__content {
    background-color: white;
    border-radius: $radius-xl;
    padding: 2rem 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h3 {
      font-size: 1rem;
      font-weight: 400;
      color: $primary;
      font-family: 'Avenir Next', sans-serif;

      @include responsive(md) {
        font-size: 1.125rem;
      }
    }

    .price {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 22px;
      font-weight: 400;
      color: $primary;

      img {
        width: 16px;
        height: 16px;
      }

      @include responsive(md) {
        font-size: 1.125rem;
      }
    }
    
  }

  &__price{
    font-size: 22px;
  }

  // Image
  &__image {
    width: 100%;
    height: 150px;
    border-radius: $radius-lg;
    overflow: hidden;
    margin-bottom: 1.5rem;

    @include responsive(md) {
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__section-title{
    font-size: 16px;
    line-height: 2rem;
  }

  // Description
  &__description {
    margin-bottom: 1.5rem;
      color: gray;


    .label {
      font-size: 0.875rem;
      font-weight: 400;
      color: $text-accent;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 0.8rem;
      color: $text-secondary;
      line-height: 1.4;
    }
  }

  &__table {
    border-radius: $radius-base;
    overflow: hidden;
    margin-bottom: 1rem;

    &-header {
      background-color: $primary;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 0.75rem;
      font-weight: 500;
    }

    &-row {
      background-color: $secondary-light;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: space-between;
      font-size: 0.75rem;
      color: $primary;
    }
  }

  &__inclusions {
    margin-bottom: 1.5rem;
      list-style: none;
    padding-left: 25px;
    color: gray;

    .label {
      font-size: 0.875rem;
      font-weight: 400;
      color: $text-accent;
      margin-bottom: 0.25rem;
    }

    ul {
      padding-left: 4rem;

      li {
        font-size: 0.75rem;
        color: $text-secondary;
        line-height: 1.4;
      }
    }
  }

  &__add-button {
    width: 100%;
    height: 15px;
    padding: 0.75rem;
    background-color: white;
    color: black;
    border-radius: $radius-lg;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 1px solid black;
  }
  
}
